:root {
  background-color: #f3f5fc;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.cabecalho {
  width: 100%;
  height: 10vh;

  background-image: url("./src/imgs/logo.svg");
  background-repeat: no-repeat;
  background-position: 5% 70%;
  background-size: 30px;
}

.corpo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.sections{
  display: flex;
  flex-direction: column;
}

.conteudo{
  margin-top: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.corpo_info {
  color: #343a40;
  text-align: center;
  padding: 1rem;
}

.corpo_info_icon {
  font-size: 12px;
  line-height: 18px;
}

.botoes_conteiner {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;

  width: 343px;
  height: 210px;
}

.botao_cripto {
  background-color: #0a3871;
  width: 343px;
  height: 67px;
  border-radius: 24px;
  gap: 8px;
  color: #ffffff;
  font-size: 16px;
  border-color: #343a40;
}

.botao_cripto:active {
  background-color: #052051;
}

.botao_descripto {
  background-color: #f3f5fc;
  width: 343px;
  height: 67px;
  border-radius: 24px;
  gap: 8px;
  color: #343a40;
  font-size: 16px;
  border-color: #343a40;
}

.botao_descripto:active {
  background-color: #aab2d5;
}

.corpo_input {
  border: none;
  width: 90%;
  min-height: 40vh;
  background-color: #f3f5fc;
  color: #0a3871;
  text-align: start;
  font-size: 32px;
  line-height: 48px;
  text-wrap: wrap;
  max-width: 330px;
}
.conteiner_input::placeholder {
  color: #0a3871;
}

.resultado_conteiner{
  display: flex;
  width: 100%;
}

.resultado_default {
  background-color: #ffffff;
  text-align: center;
  min-width: 335px;
  width: 90%;
  min-height: 150px;
  box-shadow: 0px 4px 42px 10px rgba(0, 0, 0, 0.47);
  -webkit-box-shadow: 0px 4px 42px 10px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: 0px 4px 42px 10px rgba(0, 0, 0, 0.47);
  margin: 30px;
  border-radius: 32px;

  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.resultado_sucesso{
  background-color: #ffffff;
  text-align: center;
  min-width: 335px;
  width: 90%;
  min-height: 150px;
  box-shadow: 0px 4px 42px 10px rgba(0, 0, 0, 0.47);
  -webkit-box-shadow: 0px 4px 42px 10px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: 0px 4px 42px 10px rgba(0, 0, 0, 0.47);
  margin: 30px;
  border-radius: 32px;

  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.resultado_default_img{
  display: none;
}

.resultado_titulo {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
}

.resultado_default_texto {
  font-size: 16px;
  line-height: 24px;
}

.resultado_texto{
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #495057;
  text-align: justify;
  padding: 30px;

  width: 300px;
  height: 300px;
  word-wrap: break-word;
  text-align: justify;
  overflow: scroll;

}

.botao_copiar {
  background-color: #f3f5fc;
  width: 279px;
  height: 67px;
  border-radius: 24px;
  gap: 8px;
  color: #343a40;
  font-size: 16px;
  border-color: #343a40;
  padding: 30px;
  margin: 30px;
}

.botao_copiar:active {
  background-color: #aab2d5;
}

@media screen and (min-width: 768px) {
  .corpo_input{
    max-width: none;
    width: 90%;
  }

  .corpo_info{
    align-self: center;
    width: 90%;
    text-align: start;
  }

  .botoes_conteiner{
    flex-direction: row;
    width: 90%;
    height: 100px;
  }

  .botao_copiar{
    width: 90%;
  }

  .resultado_texto{
    width: 500px;
    height: 500px;
    word-wrap: break-word;
    text-align: justify;
    overflow: scroll;
  }
  
}

@media screen and (min-width: 1400px) {
  .corpo{
    height: 100vh;
  }

  .sections{
    flex-direction: row;
    height: 90%;
    width: 90%;
  }

  .corpo_input{
    height: 90%;
  }

  
  .botoes_conteiner{
    width: 70%;
    justify-content: space-between;
  }
  
  .botao_cripto{
    width: 230px;
  }
  
  .botao_descripto{
    width: 230px;
  }
  
  .resultado_conteiner{
    width: 50%;
  }

  .resultado_default{
    justify-content: center;
  }
  .resultado_default_img{
    display: block;
    padding: 2rem;
  }
  .resultado_titulo{
    padding: 2rem;
  }

  .resultado_sucesso{
    width: 90%;
  }

  .resultado_texto{
    width: 90%;
    max-width: 600px;
    height: 100%;
    word-wrap: break-word;
    text-align: justify;
    overflow: scroll;
    overflow-x: hidden;
  }
}